/* * {
    border: 1px solid grey;
} */

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(248, 236, 201, 1) 25%, rgba(241, 187, 186, 1) 100%);
}

@font-face {
    font-family: 'Great Vibes';
    src: url('/src/assets/fonts/Great_Vibes/GreatVibes-Regular.woff');
    src: url('/src/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Chicle';
    src: url('/src//assets/fonts/Chicle/Chicle-Regular.woff');
    src: url('/src/assets/fonts/Chicle/Chicle-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Kreon';
    src: url('/src/assets/fonts/Kreon/Kreon-VariableFont_wght.woff');
    src: url('/src/assets/fonts/Kreon/Kreon-VariableFont_wght.ttf') format('truetype');
}

h1 {
    font-family: 'Chicle', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: #A79C8E;
}

h2 {
    font-family: 'Chicle', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #A79C8E;
}

p {
    font-family: 'Kreon', serif;
    font-size: 2rem;
    color: #A79C8E;
}

small {
    font-family: 'Kreon';
}

section {
    padding-top: 100px;
    padding-bottom: 30px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header {
    background-color: #EB9F9F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__img {
    height: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 20px;
    font-family: 'Kreon', serif;
    font-size: 1.6rem;
    list-style-type: none;
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    color: #A79C8E;
}

.header__link:hover {
    color: #F8ECC9;
}

.active {
    text-decoration: underline;
}

footer {
    width: 100vw;
    height: 8vh;
    background-color: #EB9F9F;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    color: #A79C8E;
}

.footer__logo {
    height: 50px;
}

.footer__logo:hover {
    opacity: 0.5;
}

form {
    border: 2px solid #A79C8E;
    border-radius: 25px;
    padding: 20px;
    background-color: #F1BBBA;
}


label {
    font-family: 'Kreon', serif;
    font-size: 1.6rem;
}