:root {
    --color1: #F8FAFF;
    --color2: #CBA6C3;
    --color3: #AAABD3;
    --color4: #353866;
}

@font-face {
    font-family: 'Chicle';
    src: url('/src//assets/fonts/Chicle/Chicle-Regular.woff');
    src: url('/src/assets/fonts/Chicle/Chicle-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Kreon';
    src: url('/src/assets/fonts/Kreon/Kreon-VariableFont_wght.woff');
    src: url('/src/assets/fonts/Kreon/Kreon-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Chicle', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--color4);
}

h2 {
    font-family: 'Chicle', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color4);
}

h3 {
    font-family: 'Chicle', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color4);
}

p {
    font-family: 'Kreon', serif;
    font-size: 2rem;
    color: var(--color4);
}

label {
    padding: 10px;
}

small {
    font-family: 'Kreon';
}

body {   
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(248,250,255,1) 0%, rgba(203,166,195,1) 50%, rgba(170,171,211,1) 100%);}

section {
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--color3);
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    
}

.card {
    background-color: var(--color3);
    text-align: center;
    border : 1px solid var(--color3);
    border-radius: 20px;
    width: 30vw;
    padding-top: 20px;
    margin: 10px;
}

.card:hover {
    box-shadow: 10px 10px 10px var(--color4);
}

#contact {
    padding-bottom: 20px;
}

header {
    background-color: var(--color3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__img {
    height: 15vh;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 20px;
    font-family: 'Kreon', serif;
    font-size: 1.6rem;
    list-style-type: none;
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    color: var(--color4);
}

.header__link:hover {
    color: var(--color1);
}

.active {
    text-decoration: underline;
}

footer {
    bottom: 0;
    width: 100vw;
    height: 8vh;
    padding: 20px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
}

footer div {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    height: 50px;
}

.footer__logo:hover {
    opacity: 0.5;
}

.message_sent {
    background-color: var(--color3);
    border-radius: 20px;
    padding: 10px;
  }

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 20px;
    background-color: var(--color2);
}

button {
    margin-top: 10px;
    font-family: "Kreon";
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--color3);
  }

label {
    font-family: 'Kreon', serif;
    font-size: 1.6rem;
    color: var(--color4)
}

.bloc-modale {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modale {
    text-align: center;
    position: fixed;
    left: 20%;
    top: 25%;
    border-radius: 20px;
    background: var(--color1);
    width: 60%;
    padding-bottom: 30px;
}